<ng-container *ngIf="theme=='delete'">
    <div class="own-message-before-div">
        <div
            class="own-message-div bg-dark rounded-pill d-flex justify-content-center align-items-center flex-column gap-3 border border-secondary ">
            <span class="text-primary">Are you sure?</span>
            <div class="d-flex flex-row gap-3 w-100 justify-content-center">
                <button class="position-relative d-block px-4 fs-5 rounded-pill bg-primary text-light  w-25" (click)="deleteBoard()">Delete</button>
                <button class="position-relative d-block px-4 fs-5 rounded-pill bg-primary text-light w-25" (click)="back()">Back</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="theme=='load'">
    <div class="own-message-before-div">
        <div
            class="own-message-div bg-dark rounded-pill d-flex justify-content-center align-items-center flex-column gap-3 border border-secondary ">
            <span class="text-primary">Are you sure?</span>
            <div class="d-flex flex-row gap-3 w-100 justify-content-center">
                <button class="position-relative d-block px-4 fs-5 rounded-pill bg-primary text-light w-25"(click)="load()">Load</button>
                <button class="position-relative d-block px-4 fs-5 rounded-pill bg-primary text-light w-25"  (click)="back()">Back</button>
            </div>
        </div>
    </div>
</ng-container>