<div class="d-flex flex-column p-4 align-items-center">

    <div class="position-relative d-flex flex-row mx-auto" *ngFor="let item of boardMatrix let i = index"
        [ngClass]="boardMatrix ? 'own-container-div'+boardSize:''">
        <div class=" bg-light rounded border border-primary
        border-2 d-flex justify-content-center align-items-center" *ngFor="let item of boardMatrix let j = index"
            [ngClass]="boardMatrix ? 'own-field-div'+boardSize:''" (click)="checker(i,j)"
            [ngStyle]="{'color': isWinnerField(i, j) ? 'green' : ''}">{{getFieldValue(i,j)}}</div>
    </div>


</div>