body {
    margin: 0;
    background-color: #171b1ee6;
}

.own-container-div3{
width: 31%;
height: 9vw;
margin-bottom: 0.5%;
}

.own-field-div3{
    cursor: pointer;
    width: 33.3%;
    height: 99%;
    font-size: 9vw;
    margin: 0 0.5% 0 0.5%;
}

.own-container-div4 {
    width: 31%;
    height: 6.5vw;
    margin-bottom: 0.5%;
 }
 
 .own-field-div4 {
    cursor: pointer;
    width: 25%;
    height: 99%;
    font-size: 7vw;
    margin: 0 0.5% 0 0.5%;
 }

 .own-container-div5 {
    width: 31%;
    height: 5vw;
    margin-bottom: 0.5%;
 }
 
 .own-field-div5 {
    cursor: pointer;
    width: 20%;
    height: 99%;
    font-size: 5vw;
    margin: 0 0.5% 0 0.5%;
 }

 .own-container-div6 {
    width: 31%;
    height: 4vw;
    margin-bottom: 0.5%;
 }
 
 .own-field-div6 {
    cursor: pointer;
    width: 20%;
    height: 99%;
    font-size: 4vw;
    margin: 0 0.5% 0 0.5%;
 }

 .own-container-div7 {
    width: 31%;
    height: 3.5vw;
    margin-bottom: 0.5%;
 }
 
 .own-field-div7 {
    cursor: pointer;
    width: 20%;
    height: 99%;
    font-size: 3vw;
    margin: 0 0.5% 0 0.5%;
 }





